*.vcxproj.user
*.sln.docstates
.vs/
*.suo
*.user

# File di log 
*.log
*.tlog
*.recipe
*.ilk
*.pdb
*.aps

# Altri file generati
imgui.ini
/x64/Debug/Progetto.exe

# File di configurazione del progetto
Progetto.vcxproj.filters

# Oggetti generati nella build Debug
Progetto/x64/Debug/glad.obj
Progetto/x64/Debug/glm.obj
Progetto/x64/Debug/imgui.obj
Progetto/x64/Debug/imgui_demo.obj
Progetto/x64/Debug/imgui_draw.obj
Progetto/x64/Debug/imgui_impl_glfw.obj
Progetto/x64/Debug/imgui_impl_opengl3.obj
Progetto/x64/Debug/imgui_tables.obj
Progetto/x64/Debug/imgui_widgets.obj
Progetto/x64/Debug/test_tessiture.obj
Progetto/x64/Debug/vc143.idb
Progetto/x64/Debug/Progetto.vcxproj.FileListAbsolute.txt

